// VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

// FONTS
$headingFonts: 'Abril Fatface', cursive;


// MAIN COLORS
$primaryColor: #ffffff;
$secondaryColor: #d2d2d2;
$complementaryColor: #000000;
$highlightColor: #8b8b8b;
$brandSkewColor: #254222;



// SHADOW
$shadow: 0 0 15px rgba(0,0,0,0.5);