@use '@/styles/scss/abstracts/' as *;


.imgBox{
  height:30vh;
  width: 60vh;
  overflow: hidden;
  position: relative;
  box-shadow: $shadow;
  border-radius: 3px;
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
  .nextImg {
    object-fit: cover;
  }
}